:root {
  --color-black: #000;
  --color-white: #fff;
  --color-accent: #f58021;
  --color-primary: #00a092;
  --color-secondary: #20113d;
}

$xxl: 1550px;
$xl: 1400px;
$lg: 1200px;
$lgs: 1199px;
$md: 960px;
$mds: 768px;
$sm: 640px;
$sms: 610px;
$xs: 480px;

$font-primary: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;
$semibold: 600;
$black: 900;

$fz-main-title: 82px;
$fz-title: 54px;
$fz-subtitle: 26px;
$fz-text: 18px;

$spacing: 50px;
$spacing-p: 150px;
$height-header: 110px

