.burger {
  position: relative;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  display: none;
  z-index: 110;
  @include breakpoint(sm) {
    display: flex;
  }
  &__line {
    width: 30px;
    height: 2px;
    background-color: var(--color-black);
    transition: 0.5s all;
  }
  &_active {
    span {
      margin-bottom: -2px;
      background-color: var(--color-white);
      &:first-child {
        transform: translateY(15px) rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-child {
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }
}
