.button {
  font-family: $font-primary;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  min-height: 74px;
  font-size: $fz-text;
  font-weight: $semibold;
  line-height: 22px / $fz-text * 100%;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--color-white);
  outline: transparent;
  @include transition(
    background-color 0.25s ease-in,
    color 0.25s ease-in,
    border 0.25s ease-in,
    box-shadow 0.25s ease-in
  );
  @include breakpoint(xs) {
    min-height: 45px;
    width: 100%;
  }
  &__next {
    min-height: 60px;
    height: 60px;
    width: 60px;
    padding: 0;
  }
  &__prev {
    min-height: 60px;
    height: 60px;
    width: 60px;
    padding: 0;
    margin-right: 55px;
  }
  &_accent {
    background-color: var(--color-accent);
    &:hover,
    &:active {
      background-color: #d26004;
      box-shadow: 0px 4px 30px rgba(245, 128, 33, 0.3);
    }
  }
  &_accent-t {
    background-color: transparent;
    color: var(--color-accent);
    &:hover,
    &:active {
      color: var(--color-white);
      background-color: var(--color-accent);
      svg {
        fill: var(--color-white);
      }
    }
  }
  &_secondary {
    border: 1px solid var(--color-secondary);
    background-color: transparent;
    &:hover,
    &:active {
      color: var(--color-white);
      background-color: var(--color-secondary);
      border: 1px solid var(--color-white);
      svg {
        fill: var(--color-white);
      }
    }
  }
  &_contact {
    background-color: var(--color-primary);
    &:hover,
    &:active {
      background-color: #05786e;
      box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
    }
  }
  &_transparent {
    background-color: transparent;
    border: 1px solid var(--color-white);
    &:hover,
    &:active {
      color: var(--color-secondary);
      background-color: var(--color-white);
      svg {
        fill: var(--color-secondary);
      }
    }
  }
  &_primary {
    background-color: transparent;
    border: 1px solid var(--color-white);
    &:hover,
    &:active {
      background-color: var(--color-primary);
      color: var(--color-white)
    }
  }
  &__img {
    width: 24px;
    height: 22px;
    fill: var(--color-white);
    @include transition(fill 0.25s ease-in);
    &_right {
      transform: rotate(180deg);
    }

    &_accent {
      fill: var(--color-accent);
    }

    &_ml {
      margin-left: 10px;
    }

    &_secondary {
      fill: var(--color-secondary);
    }
  }
}
