.cams {
  position: relative;
  padding-top: 50px;
  padding-bottom: $spacing-p;
  text-align: center;
  @include breakpoint(lg) {
    padding-top: 26px;
    padding-bottom: 100px;
  }
  @include breakpoint(sm) {
    margin-top: 110px;
    padding-bottom: 80px;
  }
  @include breakpoint(xs) {
    padding-top: 20px;
    padding-bottom: 148px;
  }
  &__container {
    position: relative;
    @include breakpoint(lg) {
      padding-right: 40px;
      padding-left: 40px;
    }
    @include breakpoint(sm) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @include breakpoint(xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__title {
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(lg) {
      left: 49%;
    }
    @include breakpoint(lgs) {
      font-size: 42px;
      font-weight: 500;
      position: static;
      transform: unset;
    }
    @include breakpoint(xs) {
      font-size: 26px;
      flex-grow: unset;
      margin-left: auto;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint(lg) {
      width: 91.5%;
      margin-left: auto;
    }
    @include breakpoint(xs) {
      width: 90.2%;
    }
  }
  &__inner {
    position: relative;
    margin-top: 46px;
    margin-bottom: 100px;
    width: 100%;
    height: 787px;
    overflow: hidden;
    @include breakpoint(lg) {
      margin-top: 34px;
      height: 760px;
      margin-bottom: 10px;
    }
    @include breakpoint(md) {
      height: 540px;
      margin-top: 21px;
    }
    @include breakpoint(mds) {
      height: 460px;
      margin-top: 21px;
    }
    @include breakpoint(sm) {
      height: 402px;
      margin-top: 21px;
    }
    @include breakpoint(xs) {
      left: 10px;
      height: 200px;
      margin-top: 15px;
    }
  }
  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.55);
    z-index: 50;
  }
  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 50px;
    transform: translate(-50%, -50%);
    outline: transparent;
  }
  &__img {
    width: 100%;
    height: 100%;
    fill: rgba(#000, 0.5);
    @include transition(fill 0.25s ease-in-out);
    &:hover,
    &:active {
      fill: var(--color-accent);
    }
  }
  &__tag {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 28.5px;
    font-weight: $medium;
    line-height: 130%;
    color: var(--color-white);
    @include breakpoint(lg) {
      font-size: 27.5px;
    }
    @include breakpoint(sm) {
      font-size: 14.5px;
    }
    &_big {
      top: 12px;
      left: 16px;
      @include breakpoint(sm) {
        top: 7px;
      }
    }
    &_small {
      text-transform: uppercase;
      padding: 1px 35px;
      border-bottom: 1px solid var(--color-white);
      border-right: 1px solid var(--color-white);
      border-radius: 0px 0px 5px 0px;
      @include breakpoint(lg) {
        padding-left: 9px;
        padding-top: 5px;
      }
      @include breakpoint(md) {
        font-size: 10px;
        padding: 3.5px 15px 3.5px 11px;
      }
    }
    svg {
      width: 20px;
      height: 20px;
      @include breakpoint(sm) {
        width: 11px;
        height: 11px;
      }
    }
  }
  &__iframe {
    width: 100%;
    height: 100%;
  }
  &__button {
    margin-left: auto;
    padding-left: 33px;
    padding-right: 37px;
    @include breakpoint(lg) {
      min-height: 56px;
      margin-top: 10px;
    }
    @include breakpoint(lgs) {
      order: 1;
      padding-left: 22px;
      padding-right: 21px;
      min-height: 48px;
      margin-top: 10px;
    }
    @include breakpoint(xs) {
      position: absolute;
      bottom: -99px;
      left: 10px;
      width: 93.7%;
    }
  }
  &__bottom {
    @include breakpoint(sm) {
      margin-top: 22px;
    }
    @include breakpoint(xs) {
      margin-top: 11px;
    }
  }
  &__subtitle {
    margin-bottom: 30px;
    color: var(--colo-black);
    font-weight: $medium;
    font-size: 42px;
    line-height: 1.22;
    text-transform: uppercase;
    @include breakpoint(lg) {
      margin-left: 85px;
    }
    @include breakpoint(sm) {
      font-size: 26px;
      text-transform: unset;
      margin-left: 0;
      margin-right: 91px;
      margin-bottom: 21px;
    }
    @include breakpoint(xs) {
      font-size: 18px;
      margin-right: 0;
      text-transform: uppercase;
      margin-left: 21px;
    }
  }
  &__wrapper {
    margin-left: auto;
    margin-right: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1228px;
    height: 209px;
    overflow: hidden;
    @include breakpoint(xxl) {
      width: 985px;
      margin-right: 20px;
    }
    @include breakpoint(lgs) {
      width: 80%;
      margin-right: 20px;
    }
    @include breakpoint(mds) {
      width: 445px;
      height: 106px;
      margin-right: 0;
    }
    @include breakpoint(xs) {
      width: 100%;
    }
  }
  &__grid {
    margin: 0 auto;
    width: 1040px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
    column-gap: 40px;
    overflow: hidden;
    grid-auto-flow: column;
    @include breakpoint(lg) {
      width: 835px;
      column-gap: 20px;
    }
    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(xs) {
      grid-template-columns: repeat(2, 47%);
      grid-auto-flow: column;
    }
  }
  &__item {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &_active {
      border: 3px solid #f58021;
      box-sizing: border-box;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__left {
    margin: 0;
    border: none;
    @include breakpoint(mds) {
      display: none;
    }
  }
  &__right {
    border: none;
    @include breakpoint(mds) {
      display: none;
    }
  }
}

.page {
  position: relative;
}
