.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-template-rows: 373px auto;
  &_small {
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 297px;
    }
    @include breakpoint(xs) {
      grid-template-columns: 1fr;
      grid-template-rows: 352px 218px;
    }
  }
  &_tall {
    grid-template-rows: 436px auto;
    @include breakpoint(sm) {
      grid-template-rows: 333px auto;
    }
  }
  &_big {
    display: block;
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__inner {
    height: 100%;
    padding: 30px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(lg) {
      padding: 13px 25px 36px;
    }
    @include breakpoint(sm) {
      padding: 16px 13px 10px;
    }
    @include breakpoint(sm) {
      padding: 16px 13px 24px;
    }
    &_small {
      @include breakpoint(lg) {
        padding: 33px 5px 36px;
      }
      @include breakpoint(sm) {
        padding: 67px 12px 35px;
      }
      @include breakpoint(xs) {
        height: 100%;
        padding: 18px 15px 35px;
      }
    }
  }
  &__title {
    color: var(--color-white);
    margin-bottom: 20px;
    @include breakpoint(sm) {
      margin-bottom: 11px;
    }
    @include breakpoint(xs) {
      font-size: 26px;
      margin-bottom: 6px;
    }
  }
  &__text {
    color: var(--color-white);
    max-width: 90%;
  }
  &__button {
    margin-top: auto;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
  }
  &__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 29px;
    position: absolute;
    border-radius: 5px 0px;
    top: 0;
    left: 0;
    color: var(--color-white);
    background-color: var(--color-secondary);
    font-size: 26px;
    font-weight: $medium;
  }
}
