.contact {
  padding-bottom: $spacing-p;
  @include breakpoint(lg) {
    padding-bottom: 100px;
  }
  @include breakpoint(xs) {
    padding-bottom: 80px;
  }
  &__container {
    @include breakpoint(lg) {
      padding: 0;
    }
  }
  &__top {
    margin-bottom: 150px;
    width: 100%;
    max-height: 815px;
    height: 815px;
    @include breakpoint(lg) {
      margin-bottom: 52px;
    }
    @include breakpoint(mds) {
      height: 434px;
    }
    @include breakpoint(sm) {
      margin-top: 110px;
    }
    @include breakpoint(xs) {
      height: 217px;
      margin-bottom: 31px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    @include breakpoint(lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint(mds) {
      padding: 0 20px;
    }
    @include breakpoint(xs) {
      padding: 0 10px;
    }
  }
  &__title {
    margin-bottom: $spacing;
    @include breakpoint(lg) {
      text-align: center;
      margin-bottom: 30px;
    }
    @include breakpoint(mds) {
      margin-bottom: 16px;
    }
  }
  &__text {
    @include breakpoint(lg) {
      margin-left: 40px;
    }
    @include breakpoint(mds) {
      margin-left: 0;
      text-align: center;
    }
  }
  &__left {
    max-width: 545px;
    margin-right: 175px;
    @include breakpoint(lg) {
      max-width: 835px;
      margin-right: 0;
      margin-bottom: 47px;
    }
    @include breakpoint(mds) {
      width: 100%;
    }
    @include breakpoint(xs) {
      margin-bottom: 44px;
    }
  }
  &__right {
    flex-basis: 680px;
    flex-grow: 0;
    @include breakpoint(lg) {
      flex-grow: unset;
      flex-basis: unset;
      margin-right: 0;
      max-width: 740px;
      width: 740px;
    }
    @include breakpoint(mds) {
      width: 100%;
    }
  }
  &__form {
    width: 100%;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
  }
  &__info {
    margin-bottom: 12px;
    font-weight: $regular;
    font-size: $fz-text;
    line-height: 150%;
    color: var(--color-black);
    span {
      color: var(--color-primary);
    }
    @include breakpoint(xs) {
      margin-bottom: 6px;
    }
  }
  &__input {
    padding: 0 20px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    outline: transparent;
    border: 1px solid var(--color-black);
    &::placeholder {
      color: #969696;
    }
    @include breakpoint(xs) {
      height: 50px;
      padding-left: 9px;
    }
  }
  &__textarea {
    padding: 20px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    outline: transparent;
    border: 1px solid var(--color-black);
    resize: none;
    &::placeholder {
      color: #969696;
    }
  }
  &__button {
    margin-top: 35px;
    padding-right: 91px;
    padding-left: 87px;
    @include breakpoint(lg) {
      margin-top: 22px;
    }
    @include breakpoint(sm) {
      display: flex;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      padding-right: 54px;
      padding-left: 54px;
    }
    @include breakpoint(xs) {
      height: 50px;
      margin-top: 31px;
    }
  }
}
