.donation {
  background-color: var(--color-secondary);
  padding: $spacing 0 43px;
  @include breakpoint(lg) {
    padding-bottom: 49px;
  }
  @include breakpoint(md) {
    padding-bottom: 50px;
  }
  @include breakpoint(xs) {
    padding-bottom: 41px;
    padding-top: 30px;
  }
  &_zoos {
    @include breakpoint(lg) {
      padding-top: 32px;
      padding-bottom: 29px;
    }
    @include breakpoint(sm) {
      padding-top: 52px;
      padding-bottom: 52px;
    }
    @include breakpoint(xs) {
      padding-top: 21px;
      padding-bottom: 49px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    @include breakpoint(lg) {
      max-width: 1030px;
    }
    @include breakpoint(md) {
      padding: 0;
      max-width: 94%;
      flex-direction: column;
      text-align: center;
    }
    &_zoos {
      @include breakpoint(lg) {
        max-width: 96%;
      }
    }
  }
  &__title {
    margin-bottom: 25px;
    font-weight: $medium;
    font-size: 42px;
    line-height: 1.21;
    text-transform: uppercase;
    color: var(--color-white);
    @include breakpoint(lg) {
      max-width: 85%;
      margin-bottom: 33px;
    }
    @include breakpoint(md) {
      max-width: 93%;
      margin-left: auto;
      margin-right: auto;
    }
    @include breakpoint(xs) {
      font-size: 26px;
      margin-bottom: 30px;
    }
    &_zoos {
      @include breakpoint(lg) {
        max-width: 95%;
        margin-bottom: 20px;
      }
      @include breakpoint(sm) {
        margin-bottom: 31px;
      }
      @include breakpoint(xs) {
        margin-bottom: 27px;
      }
    }
  }
  &__text {
    color: var(--color-white);
    max-width: 610px;
    @include breakpoint(lg) {
      max-width: 575px;
    }
    @include breakpoint(md) {
      max-width: 100%;
      margin-bottom: 28px;
    }
    &_w {
      max-width: 875px;
      @include breakpoint(lg) {
        max-width: 750px;
      }
      @include breakpoint(sm) {
        max-width: 99%;
      }
      @include breakpoint(xs) {
        margin-bottom: 22px;
      }
    }
    &_mw {
      max-width: 900px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
