.footer {
  background-color: var(--color-secondary);
  &__container {
    @include breakpoint(xl) {
      max-width: 1150px;
    }
    @include breakpoint(lgs) {
      max-width: 94%;
      padding: 0;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    border-bottom: 1px solid var(--color-white);
    @include breakpoint(lgs) {
      flex-direction: column;
      padding-top: 49px;
      padding-bottom: 48px;
    }
    @include breakpoint(xs) {
      padding-bottom: 15px;
      border: none;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    @include breakpoint(lgs) {
      margin-bottom: 50px;
    }
    @include breakpoint(xs) {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
  &__logo {
    margin-right: 65px;
    @include breakpoint(xl) {
      margin-right: 30px;
    }
    @include breakpoint(lgs) {
      margin-right: 80px;
    }
    @include breakpoint(xs) {
      margin: 0;
      margin-bottom: 30px;
    }
  }
  &__partner {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 65px;
    @include breakpoint(xl) {
      margin-right: 30px;
    }
    @include breakpoint(lgs) {
      margin-right: 80px;
    }
    @include breakpoint(xs) {
      margin: 0;
      margin-bottom: 30px;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &__school {
    display: inline-block;
    width: 138px;
    height: 52px;
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    @include breakpoint(xs) {
      margin-bottom: 28px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 0;
    @include breakpoint(lgs) {
      flex-direction: column-reverse;
      padding-top: 49px;
      padding-bottom: 52px;
    }
    @include breakpoint(xs) {
      padding-top: 15px;
    }
  }

  &__social {
    display: flex;
    @include breakpoint(lgs) {
      margin-bottom: 34px;
    }
    @include breakpoint(xs) {
      margin-bottom: 0;
    }
  }

  &__copyright {
    display: flex;
    @include breakpoint(xs) {
      flex-direction: column;
      margin-top: 67px;
    }
  }

  &__item {
    color: var(--color-white);
    font-size: $fz-text;

    &:not(:last-child) {
      margin-right: $spacing;
      @include breakpoint(xs) {
        margin: 0;
        margin-bottom: 33px;
      }
    }
  }
  &__button {
    padding-left: 33px;
    padding-right: 33px;
    @include breakpoint(xs) {
      text-transform: unset;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
