.logo {
  display: inline-block;
  width: 96px;
  height: 50px;
  &__img {
    width: 100%;
    height: 100%;
    &_light {
      fill: var(--color-white);
    }
    &_dark {
      fill: var(--color-black);
    }
  }
}
