.nav {
  &_active {
    @include breakpoint(sm) {
      transform: translateX(0);
    }
  }
  &__list {
    display: flex;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    &_footer {
      @include breakpoint(lgs) {
        flex-direction: row;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 49px;
      @include breakpoint(lg) {
        margin-right: 30px;
      }
      @include breakpoint(sm) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
    &_footer {
      &:not(:last-child) {
        margin-right: 46px;
        @include breakpoint(xl) {
          margin-right: 20px;
        }
        @include breakpoint(lgs) {
          margin-right: 53px;
          margin-bottom: 50px;
        }
        @include breakpoint(xs) {
          margin-right: 15px;
          margin-bottom: 0;
        }
      }
    }
  }
  &__link {
    font-weight: $semibold;
    text-transform: uppercase;
    @include transition(color 0.25s ease-in);
    &:hover {
      color: var(--color-primary);
    }
    &_light {
      color: var(--color-white);
      @include breakpoint(xs) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    &_dark {
      color: var(--color-black);
      @include breakpoint(sm) {
        color: var(--color-white);
      }
    }
    &_active {
      color: var(--color-primary);
      pointer-events: none;
    }
  }
}
