.pay {
  background-color: var(--color-secondary);
  padding-top: 91px;
  @include breakpoint(lg) {
    padding-top: 150px;
  }
  @include breakpoint(sm) {
    padding-top: 82px;
  }
  @include breakpoint(xs) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  &__container {
    @include breakpoint(lg) {
      padding: 0;
      max-width: 93.3%;
    }
    @include breakpoint(sm) {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: 115px;
    color: var(--color-white);
    @include breakpoint(lg) {
      margin-left: 58px;
    }
    @include breakpoint(sm) {
      margin-left: 0;
      margin-bottom: 66px;
      text-align: center;
      margin-right: 19px;
    }@include breakpoint(xs) {
      margin-right: 0;
      margin-bottom: 59px;
    }
  }
  &__list {
    display: grid;
    grid-template-rows: max-content;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template-columns: 560px 1fr;
    column-gap: 160px;
    padding: 100px 110px 116px 0;
    counter-increment: number;
    &:first-child {
      padding-bottom: 124px;
      @include breakpoint(lg) {
        padding-bottom: 99px;
      }
      @include breakpoint(sm) {
        padding-bottom: 64px;
      }
      img {
        @include breakpoint(lg) {
          margin-top: 44px;
        }
        @include breakpoint(sm) {
          margin-top: 0;
        }
      }
    }
    &:nth-child(2) {
      padding-bottom: 103px;
      .pay__inner {
        @include breakpoint(lg) {
          padding-top: 24px;
        }
        @include breakpoint(sm) {
          padding: 53px 20px 0px;
        }
        @include breakpoint(xs) {
          padding: 0;
          padding-top: 32px;
        }
      }
      @include breakpoint(lg) {
        padding-bottom: 98px;
      }
      @include breakpoint(sm) {
        padding-bottom: 67px;
      }
      @include breakpoint(xs) {
        padding-top: 46px;
        padding-bottom: 62px;
      }
    }
    &:last-child {
      padding-bottom: 0;
      .pay__inner {
        @include breakpoint(lg) {
          padding-top: 20px;
        }
        @include breakpoint(sm) {
          padding: 53px 15px 0px;
        }
        @include breakpoint(xs) {
          padding: 0;
          padding-top: 31px;
        }
      }
    }
    @include breakpoint(lg) {
      text-align: center;
      column-gap: 10px;
      padding-right: 0;
      padding-bottom: 96px;
      padding-bottom: 82px;
      padding-top: 81px;
    }
    @include breakpoint(md) {
      grid-template-columns: 1fr;
      padding-top: 67px;
    }
    @include breakpoint(xs) {
      padding-top: 49px;
    }
    &::before {
      content: "0" counter(number);
      position: absolute;
      top: -15px;
      left: 0;
      color: var(--color-white);
      font-weight: $medium;
      font-size: 26px;
      line-height: 130%;
      @include breakpoint(sm) {
        left: 3%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 1px;
      width: 91.5%;
      background-color: var(--color-white);
      @include breakpoint(sm) {
        right: 3%;
        width: 81%;
      }
    }
  }
  &__img {
    max-width: 560px;
    max-height: 364px;
    object-fit: cover;
    border-radius: 6px;
    overflow: hidden;
    @include breakpoint(lg) {
      max-width: 548px;
    }
    @include breakpoint(md) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    @include breakpoint(sm) {
      margin: 0;
      max-width: 100%;
      width: 100%;
      max-height: 417px;
    }
  }
  &__inner {
    padding-top: 20px;
    @include breakpoint(lg) {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include breakpoint(sm) {
      padding: 53px 15px 0px;
    }
    @include breakpoint(xs) {
      padding-top: 30px;
      padding-right: 4px;
      padding-left: 4px;
    }
  }
  &__icon {
    height: 80px;
    width: 80px;
    margin-bottom: $spacing / 2;
    @include breakpoint(lg) {
      margin-bottom: 30px;
    }
    &_heart {
      width: 106px;
    }

    &_touch {
      width: 100px;
    }
  }
  &__subtitle {
    color: var(--color-white);
    margin-bottom: $spacing;
    max-width: 90%;
    @include breakpoint(lg) {
      margin-bottom: 30px;
    }
    @include breakpoint(xs) {
      font-size: 26px;
      line-height: 130%;
    }
  }
  &__text {
    color: var(--color-white);
    @include breakpoint(xs) {
      max-width: 91%;
      span{
        display: none;
      }
    }
  }
  &__button {
    margin-top: 57px;
    padding-left: 36px;
    padding-right: 35px;
    @include breakpoint(lg) {
      align-self: flex-start;
      margin-top: 124px;
      padding-left: 49px;
      padding-right: 48px;
    }
    @include breakpoint(sm) {
      align-self: center;
      margin-top: 56px;
      padding-left: 60px;
      padding-right: 60px;
    }
    @include breakpoint(xs) {
      width: 94%;
      margin-top: 43px;
    }
  }
}
