.sidebar {
  position: sticky;
  left: 0;
  z-index: 100;
  width: 220px;
  background-color: var(--color-secondary);
  @include transition(width 0.25s ease-in-out);
  @include breakpoint(lg) {
    width: 115px;
  }
  @include breakpoint(sm) {
    width: 78px;
    top: 110px;
  }
  @include breakpoint(xs) {
    width: 50px;
  }
  &_active {
    width: 300px;
    .sidebar__circle {
      display: none;
    }

    .sidebar__img {
      fill: var(--color-accent);
      width: 50px;
      &_active {
        fill: var(--color-white);
      }
    }

    .sidebar__button {
      transform: rotate(180deg);
    }

    .sidebar__text {
      display: block;
    }

    .sidebar__link {
      &::after,
      &::before {
        display: none;
      }
    }
  }
  &__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 78px;
    padding-top: 28px;
    padding-right: 24px;
    border-bottom: 1px solid var(--color-white);
    @include breakpoint(lg) {
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    @include breakpoint(sm) {
      height: 50px;
    }
  }
  &__tag {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 38px;
    color: var(--color-white);
    font-weight: $semibold;
    font-size: 18px;
    line-height: 1.2px;
    text-transform: uppercase;
    background-color: var(--color-accent);
    border-radius: 0px 0px 5px 0px;
    svg {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
    @include breakpoint(lg) {
      display: none;
    }
  }
  &__button {
    margin-left: auto;
    outline: transparent;
    svg {
      width: 16px;
      height: 15px;
    }
    @include breakpoint(lg) {
      margin: 0;
    }
  }
  &__bottom {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      height: 50px;
    }
  }
  &__list {
    &-view {
      &_hidden {
        display: none;
      }
    }
  }
  &__more {
    svg {
      width: 9px;
      height: 15px;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    height: 172px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-white);
    @include breakpoint(sm) {
      height: 100px;
    }
    @include breakpoint(xs) {
      height: 50px;
    }
  }
  &__text {
    @include transition(all 0.5s all);
    display: none;
    color: var(--color-white);
    margin-left: 20px;
  }
  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105px;
    height: 105px;
    border-radius: 100%;
    background-color: var(--color-accent);
    z-index: -1;
    &_active {
      width: 120px;
      height: 120px;
      background-color: var(--color-white);
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 113px;
        height: 113px;
        border-radius: 50%;
        border: 5px solid var(--color-secondary);
      }
    }
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
    width: 80px;
    @include transition(all 0.25s ease-in);
    &::after {
      content: attr(data-tooltip);
      position: absolute;
      top: 0px;
      right: -200px;
      width: 150px;
      min-height: 50px;
      padding: 10px;
      color: var(--color-white);
      font-size: $fz-text;
      border-radius: 5px;
      z-index: 100;
      background-color: var(--color-accent);
      opacity: 0;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 20px;
      right: -50px;
      border: 10px solid transparent;
      border-right-color: var(--color-accent);
      z-index: 110;
      opacity: 0;
    }

    &:hover {
      &::after {
        @include transition(all 0.25s ease-in);
        opacity: 1;
        right: -180px;
      }

      &::before {
        @include transition(all 0.25s ease-in);
        opacity: 1;
        right: -30px;
      }
    }
    &_active {
      pointer-events: none;
    }
  }

  &__img {
    position: relative;
    height: 60px;
    fill: var(--color-secondary);
    @include breakpoint(lg) {
      fill: var(--color-accent);
      height: 40px;
    }
    @include breakpoint(sm) {
      height: 30px;
    }
    @include breakpoint(xs) {
      height: 20px;
    }
    &_active {
      @include breakpoint(lg) {
        fill: var(--color-white);
      }
    }
    &_panda {
      width: 80px;
    }
    &_eagle {
      width: 64px;
    }
    &_gorilla {
      width: 68px;
    }
    &_lemur {
      width: 36px;
    }
    &_tiger {
      width: 70px;
    }
    &_alligator {
      width: 65px;
    }
    &_lion {
      width: 65px;
    }
    &_coala {
      width: 65px;
    }
  }
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
