.social {
  display: flex;
  @include breakpoint(md) {
    display: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
    &_footer {
      &:not(:last-child) {
        margin-right: 40px;
        @include breakpoint(sm) {
          margin-right: 50px;
        }
      }
    }
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include transition(background-color 0.25s ease-in);
    &_youtube {
      background-color: #ff0000;
      &:hover {
        background-color: darken(#ff0000, 15%);
      }
    }
    &_instagram {
      background-color: #c13584;
      &:hover {
        background-color: darken(#c13584, 15%);
      }
    }
    &_facebook {
      background-color: #3b5998;
      &:hover {
        background-color: darken(#3b5998, 15%);
      }
    }
  }
  &__img {
    fill: var(--color-white);
    &_youtube {
      width: 25px;
      height: 18px;
    }
    &_instagram {
      width: 24px;
      height: 24px;
    }
    &_facebook {
      width: 11px;
      height: 22px;
    }
  }
}
