.touch {
  padding-top:149px;
  padding-bottom: 150px;
  @include breakpoint(sm) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(xs) {
    padding-top: 81px;
    padding-bottom: 81px;
  }
  &__container {
    @include breakpoint(lg) {
      max-width: 100%;
      padding: 0;
    }
  }
  &__content {
    width: 100%;
    max-height: 652px;
    height: 652px;
    @include breakpoint(lg) {
      max-height: 667px;
      height: 667px;
    }
    @include breakpoint(sm) {
      height: 379px;
    }
    @include breakpoint(xs) {
      height: 189px;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
